In [172]:
import random, numpy, pandas

In [177]:
vous = []
kdo_à = []
qui_offre_à = []

emeteurs = ['Romane', 'Chloé', 'Hélène', 'Cécile G','Ju', 'Mathilde', 'Cécile D', 'Lucie']

for i in range(len(emeteurs)):
    #Toi 
    bob = emeteurs[i]
    vous.append(bob)
    
    #tu pioches (peux pas piocher quelqu'un qui a deja été pioché ou toi meme)
    receveurs = ['Romane', 'Chloé', 'Hélène', 'Cécile','Ju', 'Mathilde', 'Cécile D', 'Lucie']
    receveurs = list(set(receveurs) - set(kdo_à))
    if bob in receveurs:
        receveurs.remove(bob)
    
    personne_aléatoire = random.choice(receveurs)
    kdo_à.append(personne_aléatoire)

    #qui pioche
    receveurs_bis = ['Romane', 'Chloé', 'Hélène', 'Cécile','Ju', 'Mathilde', 'Cécile D', 'Lucie']   
    receveurs_bis = list(set(receveurs_bis) - set(qui_offre_à))
    if personne_aléatoire in receveurs_bis:
        receveurs_bis.remove(personne_aléatoire)
        
    le_random_pioche = random.choice(receveurs_bis)
    qui_offre_à.append(le_random_pioche)
  
    print(i, bob, '-', personne_aléatoire, '-', le_random_pioche)

0 Romane - Ju - Mathilde
1 Chloé - Mathilde - Cécile
2 Hélène - Cécile D - Hélène
3 Cécile G - Cécile - Romane
4 Ju - Lucie - Ju
5 Mathilde - Romane - Chloé
6 Cécile D - Hélène - Lucie
7 Lucie - Chloé - Cécile D

In [178]:
df = pandas.DataFrame()
df['Vous'] = vous
df['Cadeau à'] = kdo_à
df['Qui offre à'] = qui_offre_à
df

       Vous  Cadeau à Qui offre à
0    Romane        Ju    Mathilde
1     Chloé  Mathilde      Cécile
2    Hélène  Cécile D      Hélène
3  Cécile G    Cécile      Romane
4        Ju     Lucie          Ju
5  Mathilde    Romane       Chloé
6  Cécile D    Hélène       Lucie
7     Lucie     Chloé    Cécile D

In [180]:
#be sure to not have twice same name 
for column in df.columns:
    print(df.duplicated(subset=[column]).sum())

0
0
0